<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <!-- FONTS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <style>
        /* * {
            box-sizing: border-box;
            transition: 0.35s ease;
        }
        
        body {
            width: 70%;
            margin-left: 10%;
        }
        
        .rela-block {
            display: block;
            position: relative;
            margin: auto;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
        
        .rela-inline {
            display: inline-block;
            position: relative;
            margin: auto;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
        
        .floated {
            display: inline-block;
            position: relative;
            margin: false;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
        
        .abs-center {
            position: absolute;
            text-align: center;
        }
        
        body {
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
            letter-spacing: 0px;
            background: url("http://kingofwallpapers.com/leaves/leaves-016.jpg") right no-repeat;
            background-size: cover;
        }
        
        body:before {
            content: "";
            display: false;
            position: fixed;
            margin: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.92);
        }
        
        .caps {
            text-transform: uppercase;
        }
        
        .justified {
            text-align: justify;
        }
        
        p.light {
            color: #777;
        }
        
        h2 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 30px;
            letter-spacing: 5px;
            font-weight: 600;
            line-height: 40px;
            color: #000;
        }
        
        h3 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 21px;
            letter-spacing: 1px;
            font-weight: 600;
            line-height: 20px;
            color: #000;
        }
        
        .page {
            width: 90%;
            margin: 60px auto;
            max-width: 1200px;
            background-color: #fff;
            box-shadow: 6px 10px 28px 0px rgba(0, 0, 0, 0.4);
        }
        
        .top-bar {
            height: 140px;
            background-color: #286c96;
            color: #fff;
        }
        
        .name {
            display: false;
            position: absolute;
            left: calc(350px + 5%);
            right: 0;
            bottom: 0;
            height: 100px;
            text-align: right;
            font-family: 'Times New Roman', Times, serif;
            font-size: 33px;
        }
        
        .name div {
            width: 94%;
        }
        
        .side-bar {
            display: false;
            position: absolute;
            top: 0px;
            bottom: 0px;
            margin: false;
            right: false;
            color: #fff;
            width: 350px;
            background-color: #385271;
            padding: 300px 30px 50px;
        }
        
        .mugshot {
            display: false;
            position: absolute;
            margin: false;
            top: 50px;
            left: 70px;
            right: false;
            bottom: false;
            height: 210px;
            width: 210px;
        }
        
        .mugshot .logo {
            margin: -23px;
        }
        
        .logo {
            display: false;
            position: absolute;
            margin: false;
            top: 0;
            left: 0;
            right: false;
            bottom: false;
            z-index: 100;
            margin: 0;
            color: #000;
            height: 250px;
            width: 250px;
        }
        
        .logo .logo-svg {
            height: 100%;
            width: 100%;
            stroke: #f9f4f4;
            cursor: pointer;
        }
        
        .logo .logo-text {
            display: false;
            position: absolute;
            margin: false;
            top: 58%;
            left: 0;
            right: 16%;
            bottom: 0;
            cursor: pointer;
            font-family: "Montserrat";
            font-size: 55px;
            letter-spacing: 0px;
            font-weight: 400;
            line-height: 58.333333333333336px;
        }
        
        .side-header {
            font-family: 'Open Sans';
            font-size: 18px;
            letter-spacing: 2px;
            font-weight: 600;
            line-height: 20px;
            margin: 23px auto;
            border-bottom: 1px solid #888;
            position: relative;
        }
        
        .list-thing {
            margin-bottom: 7px;
        }
        
        .content-container {
            margin-right: 0;
            width: calc(95% - 350px);
            padding: 25px 30px 50px 0px;
        }
        
        .content-container>* {
            margin: 0 auto 25px;
        }
        
        .content-container>h3 {
            margin: 0 auto 5px;
        }
        
        .content-container>p.long-margin {
            margin: 0 auto 50px;
        }
        
        .title {
            width: 80%;
            text-align: center;
        }
        
        .separator {
            width: 240px;
            height: 2px;
            background-color: #999;
        }
        
        .greyed {
            background-color: #8fbdec;
            width: 100%;
            max-width: 580px;
            text-align: center;
            font-family: 'Open Sans';
            font-size: 18px;
            letter-spacing: 3px;
            font-weight: 600;
            line-height: 27px;
        }
        
        #filter-btn {
            cursor: pointer;
            width: 200px;
            padding: 10px 10px;
            border-radius: 12px;
            display: inline-block;
            color: white;
            background: linear-gradient(45deg, #8e2de2, #4a00e0);
        }
        
        .grey {
            background-color: #888;
            width: auto;
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
            text-align: left;
            line-height: 27px;
            border-radius: 10px;
            float: left;
            padding: 0px 5px;
            margin-bottom: 10px;
            margin-left: 5px;
        }
        
        @media screen and (max-width: 1150px) and (min-width:449px) {
            .name {
                color: #fff;
                font-family: 'Times New Roman', Times, serif;
                font-size: 38px;
                letter-spacing: 6px;
                font-weight: 100;
                line-height: 48px;
            }
        }
        
        @media screen and (max-width:450px) {
            #resume {
                width: 500%;
            }
            .name {
                letter-spacing: 3px;
                color: #fff;
                font-family: 'Times New Roman', Times, serif;
                font-size: 35px;
                line-height: 48px;
            }
        } */
        
        body {
            background: #e4efea;
        }
        
        .div>p,
        span,
        li,
        td {
            font-size: 13.5pt;
            font-family: Arial;
        }
        
        .div {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        }
        
        .div[size="A4"] {
            width: 21cm;
            height: 29.7cm;
        }
        
        .div[size="A4"][layout="portrait"] {
            width: 29.7cm;
            height: 21cm;
        }
        
        @media print {
            body,
            page {
                margin: 0;
                box-shadow: 0;
            }
        }
        
        div.card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
</head>

<body>
    <div id="resume" style="padding: 20px; margin-top: 20px;" class="div" size="A4">
        <div class="row">
            <div class="col-2"><img src="css\logo.jpg" alt="logo" width="120px" height="120px" class=""></div>
            <div align="right" class="col-8">
                <h3 style="text-transform: uppercase; color:#0096dd; margin-bottom:0px;">
                    <%= data.name%>
                </h3>
                <b style="margin-bottom:0px;"><%= data.course%> - <%= data.branch%></b>

                <p style="font-size: 0.83em; ">
                    <b style="color:#0096dd; font-size: 0.83em; margin-bottom:0px;">Ph : </b>
                    <%= data.phone%><br>

                        <b style="color:#0096dd; font-size: 0.83em; margin-bottom:0px;">Email : </b>
                        <%= data.email%><br>

                            <%= data.address%>
                                <p hidden id="username">
                                    <%= data.username%>
                                </p>
                </p>
            </div>
            <div align="left" class="col-2"><img src="<%= data.profile%>" alt="profile" width="120px" height="120px" class=""></div>
        </div>
        <div class="row" style="margin-top:0px;">
            <div class="col-12 " style="background-color: #0096dd; color: white; text-transform: uppercase;">
                <b>BRIEF&nbsp; OVERVIEW &nbsp;/ CAREER&nbsp;&nbsp;&nbsp; OBJECTIVE &nbsp;&nbsp;/ SUMMARY</b>
            </div>
        </div>
        <p style="margin-top:10px; font-size: 0.83em;">
            An enthusiastic and hardworking B.Tech graduate seeking a challenging role in a dynamic organization where I can apply my technical skills and knowledge to contribute to the growth of the company. I am eager to learn new technologies and work collaboratively
            with a team to solve complex problems. My ultimate goal is to build a successful career and make a significant contribution to the industry.
        </p>

        <div class="row" style="margin-top:10px;">
            <div class="col-12 " style="background-color: #0096dd; color: white; text-transform: uppercase;">
                <b>Languages&nbsp;&nbsp; Known</b>
            </div>
        </div>

        <% var langArr=data.languages.split(","); %>
            <div class="row" style="margin-top:10px;">
                <% for (var i=0; i < langArr.length; i++) { %>
                    <div class="col" align="center" style="background-color:#eeeeeb ; border-radius: 10px;  font-size: 0.83em;">
                        <%= langArr[i] %>
                    </div>&nbsp;&nbsp;
                    <% if((i+1)%8==0 && i!=langArr.length-1){ %>
            </div>
            <div class="row" style="margin-top:10px;">
                <% } %>
                    <% } %>
            </div>

            <div class="row" style="margin-top:10px;">
                <div class="col-12" style="background-color: #0096dd; color: white; text-transform: uppercase;">
                    <b>EDUCATION</b>
                </div>
            </div>
            <% var year=parseInt(data.username.slice(0, 2));%>
                <% var btechyear,tenthyear; if(data.intertype=="Inter"){btechyear=year+4; tenthyear=year-2;}else{btechyear=year+3; tenthyear=year-3;} %>
                    <div class="row card" style="margin-top:10px;">
                        <div class="col-12">
                            <h6 style="text-transform: uppercase; margin-bottom: 0px;  margin-top: 5px;"><b>University&nbsp; College &nbsp;&nbsp;Of Engineering&nbsp; Kakinada(A)</b></h6>
                            <p style="margin-top:0px; margin-bottom: 5px;">
                                <b><%= data.course%> - <%= data.branch%>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;CGPA : <%= data.cgpa%> / 10</b>
                                <i align="right" style="position: absolute; right: 10px;">20<%= year %>-20<%= btechyear %></i>
                            </p>
                        </div>
                    </div>
                    <div class="row card" style="margin-top:10px;">
                        <div class="col-12">
                            <h6 style="text-transform: uppercase; margin-bottom: 0px;  margin-top: 5px;"><b><%= data.intercollege%></b></h6>
                            <p style="margin-top:0px; margin-bottom: 5px;">
                                <b>12<sup>th</sup>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;CGPA : <%= data.gpa12%> / 10</b>
                                <i align="right" style="position: absolute; right: 10px;">20<%= year %></i>
                            </p>
                        </div>
                    </div>
                    <div class="row card" style="margin-top:10px;">
                        <div class="col-12">
                            <h6 style="text-transform: uppercase; margin-bottom: 0px;  margin-top: 5px;"><b><%= data.schoool%></b></h6>
                            <p style="margin-top:0px; margin-bottom: 5px;">
                                <b>10<sup>th</sup>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;CGPA : <%= data.gpa10%> / 10</b>
                                <i align="right" style="position: absolute; right: 10px;">20<%= tenthyear %></i>
                            </p>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        <div class="col-12 " style="background-color: #0096dd; color: white; text-transform: uppercase;">
                            <b>TECHNICAL &nbsp;&nbsp;SKILLS</b>
                        </div>
                    </div>

                    <% var skillsArr=data.skills.split(","); %>
                        <div class="row" style="margin-top:10px;">
                            <% for (var i=0; i < skillsArr.length; i++) { %>
                                <div class="col" align="center" style="background-color:#eeeeeb ; border-radius: 10px;  font-size: 0.83em;">
                                    <%= skillsArr[i] %>
                                </div>&nbsp;&nbsp;
                                <% if((i+1)%5==0 && i!=skillsArr.length-1){ %>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <% } %>
                                <% } %>
                        </div>

                        <div class="row" style="margin-top:10px;">
                            <div class="col-12 " style="background-color: #0096dd; color: white; text-transform: uppercase;">
                                <b>Certifications</b>
                            </div>
                        </div>
                        <ul style="font-size: 0.83em; margin-top: 10px;">
                            <% var certifiArr=data.certifications.split(","); %>
                                <% for (var i=0; i < certifiArr.length; i++) { %>
                                    <li style="font-size: 1.2em;">
                                        <%= certifiArr[i] %>
                                    </li>
                                    <% } %>
                        </ul>

                        <div class="row" style="margin-top:10px;">
                            <div class="col-12 " style="background-color: #0096dd; color: white; text-transform: uppercase;">
                                <b>PROJECTS</b>
                            </div>
                        </div>
                        <% var proArr=data.projects.split(","); %>
                            <% for (var i=0; i < proArr.length; i++) { %>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col" align="left" style="background-color:#eeeeeb ; border-radius: 10px;  font-size: 1.0em; padding-bottom: 3px;">
                                        <%= proArr[i] %>
                                    </div>
                                </div>
                                <% } %>

                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-12 " style="background-color: #0096dd; color: white; text-transform: uppercase;">
                                            <b>Achievements &nbsp;&nbsp;/ Awards</b>
                                        </div>
                                    </div>
                                    <ul style="font-size: 0.83em; margin-top: 10px;">
                                        <% var achiArr=data.achievements.split(","); %>
                                            <% for (var i=0; i < achiArr.length; i++) { %>
                                                <li style="font-size: 1.2em;">
                                                    <%= achiArr[i] %>
                                                </li>
                                                <% } %>
                                    </ul>

                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-12 " style="background-color: #0096dd; color: white; text-transform: uppercase;">
                                            <b>PERSONAL&nbsp;&nbsp; DETAILS</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"><b>Date of Birth : </b>
                                            <%= data.dob%><br/><b>Gender : </b>
                                                <%= data.gender%>
                                        </div>
                                        <div class="col-6"><b>Phone No : </b>
                                            <%= data.phone%><br/><b>Email : </b>
                                                <%= data.email%>
                                        </div>
                                        <div class="col-12"><b>Current Address : </b>
                                            <%= data.address%>
                                        </div>
                                    </div>
    </div>



    <!-- 
    <div>
        <div id="resume" class="rela-block page container-fluid">
            <div class="rela-block top-bar">
                <div class="caps name  ">
                    <div class="abs-center"><b id="name">
              <%= data.name%>
            </b></div>
                </div>
            </div>
            <div class="side-bar">
                <div class="mugshot">
                    <img src="<%= data.profile%>" alt="profile pic" width="200px" height="200px" class="rounded-circle border border-4 border-radius">
                </div>
                <p class="rela-block caps side-header">Contact</p>
                <p><b>Phone:</b>
                    <%= data.phone%>
                </p>
                <p hidden id="username">
                    <%= data.username%>
                </p>
                <p><b>Email:</b>
                    <%= data.email%>
                </p>
                <p><b>Address:</b>
                    <%= data.address%>
                </p>
                <p class="rela-block caps side-header">Skills</p>
                <% var skillsArr=data.skills.split(","); %>
                    <% for (var i=0; i < skillsArr.length; i++) { %>
                        <p class="rela-block grey ">
                            <%= skillsArr[i] %>
                        </p>
                        <% } %>
                            <p class="rela-block caps side-header">Certifications</p>
                            <% var certifiArr=data.certifications.split(","); %>
                                <% for (var i=0; i < certifiArr.length; i++) { %>
                                    <p class="rela-block list-thing">
                                        <%= certifiArr[i] %>
                                    </p>
                                    <% } %>
                                        <p class="rela-block caps side-header">Languages</p>
                                        <% var langArr=data.languages.split(","); %>
                                            <% for (var i=0; i < langArr.length; i++) { %>
                                                <p class="rela-block list-thing">
                                                    <%= langArr[i] %>
                                                </p>
                                                <% } %>
            </div>
            <div class="rela-block content-container">
                <div class="rela-block caps greyed">Objective</div>
                <p class="long-margin" style="text-align: justify;">
                    An enthusiastic and hardworking B.Tech graduate seeking a challenging role in a dynamic organization where I can apply my technical skills and knowledge to contribute to the growth of the company. I am eager to learn new technologies and work collaboratively
                    with a team to solve complex problems. My ultimate goal is to build a successful career and make a significant contribution to the industry
                </p>
                <div class="rela-block caps greyed">Education</div>
                <ul class="long-margin">
                    <li style="margin: 2%;">
                        <h5 style="margin: 0%;font-size: large;"><b>University College Of Engineering Kakinada(A)</b></h5>
                        <p style="margin: 0%;">
                            <%= data.course%>
                        </p>
                        <p style="margin: 0%;">
                            <%= data.branch%>
                        </p>
                        <p style="margin: 0%;">B.Tech GPA:
                            <%= data.gpa12%>
                        </p>
                    </li>
                    <li style="margin: 2%;">
                        <h5 style="margin: 0%;font-size: large;"><b>
                <%= data.intercollege%>
              </b></h5>
                        <p style="margin: 0%;"> Inter GPA:
                            <%= data.gpa12%>
                        </p>
                    </li>
                    <li style="margin: 2%;">
                        <h5 style="margin: 0%;font-size: large;"><b>
                <%= data.schoool%>
              </b></h5>
                        <p style="margin: 0%;">SSC GPA:
                            <%= data.gpa10%>
                        </p>
                    </li>
                </ul>
                <div class="rela-block caps greyed">Projects</div>
                <% var proArr=data.projects.split(","); %>
                    <% for (var i=0; i < proArr.length; i++) { %>
                        <p class="rela-block list-thing">
                            <%= proArr[i] %>
                        </p>
                        <% } %>
                            <div class="rela-block caps greyed">Achievements/Awards</div>
                            <% var achiArr=data.achievements.split(","); %>
                                <% for (var i=0; i < achiArr.length; i++) { %>
                                    <p class="rela-block list-thing">
                                        <%= achiArr[i] %>
                                    </p>
                                    <% } %>
            </div>
        </div>
    </div> -->
    <div style="position: fixed; right: 20px; bottom: 20px;">
        <button type="button" class="btn btn-primary" style="border-radius: 20px;" onclick="Convert_HTML_To_PDF();">&nbsp;&nbsp;<i class="fa fa-download"></i> Download&nbsp;&nbsp;</button>
    </div>
    <script>
        // setTimeout(() => {
        //     Convert_HTML_To_PDF()
        // }, 3000)

        // function downloadResume() {
        //     let resume = document.getElementById('resume')
        //         // console.log(resume)
        //         // html2canvas(resume).then(canvas => {

        //     //  const image = canvas.toDataURL("image/png");
        //     //  const link = document.createElement('a');
        //     //  link.download = 'myImage.png';
        //     //  link.href = image;
        //     //  document.body.appendChild(link);
        //     //   link.click();
        //     //   document.body.removeChild(link);




        //     //     html2canvas(resume).then(canvas => {  
        //     //       var imgData = canvas.toDataURL("image/png");
        //     // var pdf = new jsPDF();   
        //     // pdf.addImage(canvas.toDataURL("image/png"), 'PNG', 0, 0, canvas.width, canvas.height)
        //     // pdf.save('myDocument.pdf');
        //     // });

        //     html2canvas(resume).then((canvas) => {
        //         const pdf = new jsPDF('p', 'mm', 'a4');
        //         const imgData = canvas.toDataURL("image/png");
        //         const imgProps = pdf.getImageProperties(imgData);
        //         const pdfWidth = pdf.internal.pagesize.getWidth();
        //         const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;
        //         pdf.addImage(imgData, 'PNG', 0, 0, pdfWidth, pdfHeight);
        //         pdf.save(resume.pdf);

        //     })

        // }
        window.jsPDF = window.jspdf.jsPDF;

        function Convert_HTML_To_PDF() {
            var width = document.getElementById('resume').clientWidth;
            var height = document.getElementById('resume').clientHeight;
            var name = (document.getElementById("username").innerHTML).trim();
            var doc = new jsPDF('p', 'pt', [width, height]);
            var pageCount = doc.internal.getNumberOfPages();
            var elementHTML = document.querySelector("#resume");
            doc.html(elementHTML, {
                callback: function(doc) {
                    doc.deletePage(pageCount + 1);
                    doc.save(name + '_resume.pdf');
                }
            });
        }
    </script>
</body>